<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include header.ejs %> 
    <% include navbar.ejs %>  
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>About Us</h2>
    <br>
    <p>
      We're HAIS, a 4 person group in Hack The North. Our group
      consists of Wesley, Wilson, Ingrid and Sissy. Our project is
      a web app organization manager that utilizes the Voiceflow
      API as a virtual assistant.
    </p>
    
  </body>
</html>
