<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <% include header.ejs %> 
        <% include navbar.ejs %> 
      </head>
    <body>
        <h1>Login</h1>

        <form method="post" action="/index">
            <p>
                <label>Username:</label>
                <input type="text" name="username">
            </p>
            <p>
                <label>Password:</label>
                <input type="text" name="password">
            </p>
            <a href="/bot">
            <p>
                <input type="submit" value="Login">
            </p>
            </a>
</form>
</body>
</html>